{% load static %}
<li><a href={% url 'main' %} {% if request.resolver_match.url_name == 'main' %} class="active" {% endif %}>домой</a></li>
<li><a href={% url 'products:products' %} {% if 'products' in request.resolver_match.namespace %} class="active" {% endif %}>продукты</a></li>
<li><a href={% url 'contact' %} {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %} >контакты</a></li>
{% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
    <img src='/media/{{ user.avatar }}' style = "width:50px; height:50px; border:0; margin:0; margin-top:-20px; " alt="NoPic"/>
        <span style = "padding:0; margin:0; float:left;"> {{ user.first_name|default:'Пользователь' }} </span>
    </a>
</li>
<li> 
<a href="{% url 'auth:logout' %}">выйти</a>
{% else %}
<a href="{% url 'auth:login' %}">войти</a>
{% endif %}
</li>
<li>
<a href="#" class="search" style = "background-image: url('{% static 'img/search.png' %}');left:1176px; "></a>
</li>
<li>
    <a href="{% url 'basket:view' %}" class="basket" style = "background-image: url('{% static 'img/basket.png' %}'); padding:0; margin:0; left:1220px; " >
    <span style = 
    " font-size: 10pt;
    padding:0;
    margin:0;
    width:100px;
    padding-left:25px;
    float: left;"> 
    {% if basket %}
    {{ basket.0.total_cost|floatformat:0 }}_руб
    <br>
    ({{ basket.0.total_quantity }}_шт)
    {% endif %} 
    </span>
    </a>
</li>

