<li><a href={% url 'main' %} {% if request.resolver_match.url_name == 'main' %} class="active" {% endif %}>домой</a></li>
<li><a href={% url 'products:products' %} {% if 'products' in request.resolver_match.namespace %} class="active" {% endif %}>продукты</a></li>
<li><a href={% url 'contact' %} {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %} >контакты</a></li>
{% if user.is_authenticated %}
<li>
<p align="center">
{{ user.first_name|default:'Пользователь' }}
<br>
<a href="{% url 'auth:edit' %}"><img src='/media/{{ user.avatar }}' width="50" 
   height="50" border="0" alt="NoPic"/></a>
 </p>
{% comment %} <a href= "{% url 'auth:edit' %}">
<img src='/media/{{ user.avatar }}' width="40" height="40" alt="lorem" />
{{ user.first_name|default:'Пользователь' }}
</a> {% endcomment %}
</li>
<li> 
<a href="{% url 'auth:logout' %}">выйти</a>
{% else %}
<a href="{% url 'auth:login' %}">войти</a>
{% endif %}
</li>