<div  style = " text-align:center; margin-left:0px; "  >
        <span class="product_name" > &nbsp Изображение товара  &nbsp </span>
        <span class="product_name" >&nbsp Категория &nbsp</span>
        <span class="product_name">&nbsp Товар &nbsp</span>
        <span class="product_price">&nbsp Стоимость товара, руб/шт  &nbsp</span>
        <span class="product_price">&nbsp Количество, шт &nbsp</span>
        <span class="product_cost">&nbsp Стоимость, руб &nbsp</span>
</div>
<br>
<br>
<br>
<br>
{% for item in basket_items %}
    <div class="basket_record" >
        <img src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}" style = "width:150px; height:100px;">
        <span class="category_name" >&nbsp{{ item.product.category.name }}&nbsp</span>
        <span class="product_name" ">&nbsp{{ item.product.name }}&nbsp</span>
        <span class="product_price" >&nbsp{{ item.product.price }}&nbspруб</span>
        <input style = "width:100px; text-align:center;" type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        <span class="product_cost" >&nbsp{{ item.product_cost }}&nbspруб</span>
        <button class="btn btn-round" >
            <a href="{% url 'basket:remove' item.pk %}" >
            удалить
            </a>
        </button>
    </div>
{% endfor %}
{% if basket_items %}
    <div class="basket_summary">
        В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью
        {{ basket_items.0.total_cost }} руб
    </div>
{% endif %}
    