{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <div class="user_delete" style = "text-align:center; ">
        Уверены, что хотите удалить категорию товаров:
        <br>
        <span style = "text-align:center; font-size: 200%; font-weight: bold;  text-transform:uppercase; ">
            {{ object.name }} ? 
        </span>
        <form action="{% url 'admin:category_delete' object.pk %}"
            method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:categories' %}">
            Отмена
            </a>
        </button>
    </div>
{% endblock %}